* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#b0b4b2;
  background-repeat: repeat;
  width: 100vw;
  height: 100vh;
}

body, input, button, textarea {
  font: 600 25px Blinker, sans-serif;
  color: #DCE1DE;
}
