#search {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search .input-box {
  position: absolute;
  top: 10px;
  width: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search .logo {
  position: absolute;
  bottom: 5px;

  user-select: none;
}

#search .wrapper {
  display: flex;
  width: 1500px;
  height: 800px;

  overflow: hidden;
}

#search .wrapper .infinite-scroll{
  width: 1500px;
}

#search .wrapper .infinite-scroll .loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1550px) {
  #search .wrapper .infinite-scroll{
    width: 1300px;
  }
  #search .wrapper {
    width: 1300px;
  }
}

@media only screen and (max-width: 1350px) {
  #search .wrapper .infinite-scroll{
    width: 1100px;
  }
  #search .wrapper {
    width: 1100px;
  }
}

@media only screen and (max-width: 1150px) {
  #search .wrapper .infinite-scroll{
    width: 900px;
  }

  #search .wrapper {
    width: 900px;
  }
}

@media only screen and (max-width: 930px) {
  #search .wrapper .infinite-scroll{
    width: 800px;
  }

  #search .wrapper {
    width: 800px;
  }
}

@media only screen and (max-width: 850px) {
  #search .wrapper .infinite-scroll{
    width: 700px;
  }

  #search .wrapper {
    width: 700px;
  }

  #search .wrapper {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 750px) {
  #search .wrapper .infinite-scroll{
    width: 600px;
  }

  #search .wrapper {
    width: 600px;
  }

  #search .input-box {
    width: 25rem;
  }
}

@media only screen and (max-width: 650px) {
  #search .wrapper .infinite-scroll{
    width: 500px;
  }

  #search .wrapper {
    width: 500px;
  }

  #search .input-box {
    width: 20rem;
  }
}

@media only screen and (max-width: 550px) {
  #search .wrapper .infinite-scroll{
    width: 400px;
  }

  #search .wrapper {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  #search .wrapper .infinite-scroll{
    width: 320px;
  }

  #search .wrapper {
    width: 320px;
  }
}

@media only screen and (max-width: 350px) {
  #search .wrapper .infinite-scroll{
    width: 300px;
  }

  #search .wrapper {
    width: 300px;
  }
}

@media only screen and (max-height: 900px) {
  #search .wrapper {
    height: 700px;
    overflow: hidden;
  }
}

@media only screen and (max-height: 800px) {
  #search .wrapper {
    height: 650px;
  }
}

@media only screen and (max-height: 750px) {
  #search .wrapper {
    height: 600px;
  }
}

@media only screen and (max-height: 700px) {
  #search .wrapper {
    height: 550px;
  }
}

@media only screen and (max-height: 650px) {
  #search .wrapper {
    height: 500px;
  }
}

@media only screen and (max-height: 600px) {
  #search .wrapper {
    height: 450px;
  }
}

@media only screen and (max-height: 550px) {
  #search .wrapper {
    height: 400px;
  }
}

@media only screen and (max-height: 500px) {
  #search .wrapper {
    height: 350px;
  }
}

@media only screen and (max-height: 450px) {
  #search .wrapper {
    height: 300px;
  }
}