#search {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#search .input-box {
  position: absolute;
  top: 10px;
  width: 30rem;
}

#search .logo {
  position: absolute;
  top: 5px;
  left: 5px;

  user-select: none;
}

#search .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1500px;
  padding-left: 33px;

  overflow: hidden;
}

#search .wrapper .infinite-scroll{
  width: 1500px;
}

#search .wrapper .infinite-scroll .loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search .wrapper .infinite-scroll .repo {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-areas: 'profile' 'name-repo' 'link-about' 'stars-forks';

  border: solid rgba(0, 0, 0, 0.267);
  border-radius: 20px;
  margin-bottom: 8px;

  color: #000;
  font-size: 10px;
  
  background-color: #e7e5e5bd;
}

#search .wrapper .infinite-scroll .repo h1 {
  padding-left: 10px;
}

#search .wrapper .infinite-scroll .repo .profile {
  width: 150px;
  height: 150px;
  
  align-self: center;
  justify-self: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 2px solid #8d8787;
  border-radius: 50%;

  margin-top: 30px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-size: cover;
}

#search .wrapper .infinite-scroll .repo .name-repository,
#search .wrapper .infinite-scroll .repo .link-about {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;

  display: grid;
  grid-template-rows: 1fr
                      1fr;

  align-items: center;
}

#search .wrapper .infinite-scroll .repo .name-repository div,
#search .wrapper .infinite-scroll .repo .link-about div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#search .wrapper .infinite-scroll .repo .name-repository{
  grid-template-areas: name
                       repo;
}

#search .wrapper .infinite-scroll .repo .link-about{
  grid-template-areas: link
                       about;
}

#search .wrapper .infinite-scroll .repo .link-about a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 20px;
}

#search .wrapper .infinite-scroll .repo .stars-forks {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-items: center;

  padding-right: 30px;
}

#search .wrapper .infinite-scroll .repo .stars-forks div {
  border: 2px solid #1e345f;
  border-radius: 50%;
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 13px;
}